# /docker-compose.yml (Versi Pangkas)

services:
  # ----------------------------------
  # SHARED SERVICES
  # ----------------------------------
  postgres-db:
    image: postgres:14-alpine
    container_name: postgres-db
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=adminpass
      - POSTGRES_DB=haji_umrah_db
      - TZ=Asia/Jakarta
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # Pastikan db_schema.sql ada di folder root backend/
      - ./db_schema.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      - haji_umrah_net
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d haji_umrah_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis-cache:
    image: redis:7-alpine
    container_name: redis-cache
    environment:
      - TZ=Asia/Jakarta
    ports:
      - "6379:6379"
    networks:
      - haji_umrah_net
    restart: unless-stopped

  # ----------------------------------
  # MODULE 1: AI Chatbot
  # ----------------------------------
  chatbot-api:
    build:
      context: ./module_1_chatbot
    container_name: chatbot-api
    environment:
      - TZ=Asia/Jakarta
    command: uvicorn app.main:app --host 0.0.0.0 --port 8008 --reload
    ports:
      - "8008:8008"
    volumes:
      - ./module_1_chatbot/app:/app/app
      - ./module_1_chatbot/chroma_db:/app/chroma_db
      - ./module_1_chatbot/scripts:/app/scripts
      - ./module_1_chatbot/knowledge_base:/app/knowledge_base
      - huggingface_cache:/root/.cache/huggingface
    env_file:
      - ./module_1_chatbot/.env
    working_dir: /app
    restart: unless-stopped
    networks:
      - haji_umrah_net
    depends_on:
      postgres-db:
        condition: service_healthy

volumes:
  postgres_data:
  huggingface_cache:

networks:
  haji_umrah_net:
    driver: bridge